<h1><%= @restaurant.name %></h1>
<%= link_to "Back home", restaurants_path %>
<div><%= link_to "Leave a review", new_restaurant_review_path(params[:id]) %></div>
<ol>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %>| <%= review.rating %></li>
  <% end %>
</ol>
